*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.cabecalho {
    background-color: #d9534f;
    color: white;
    padding: 10px;
    text-align: center;
}

.conteudo {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.secao {
    margin-bottom: 20px;
}

.secao h2 {
    color: #d9534f;
}

.secao h3 {
    color: #5bc0de;
}

.rodape {
    background-color: #d9534f;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.secao img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}
.h22{
    margin-bottom: 20px;
    margin-top: 20px;
}